<tr class="<%= cycle('', 'alt') %>">
  <td><%= page.created_at.strftime('%d %b, %Y') %></td>
  <td><%= link_to(h(page.title), admin_page_url(page)) %></td>
  <td><%=h truncate(page.body, 50) %></td>
  <td><%= page.slug %></td>
  <td>  
    <%= link_to(image_tag('silk/pencil.png', :alt => 'edit'), admin_page_path(page)) %>
    <% form_for(:page, page, :url => admin_page_path(page), :html => {:class => 'delete-item', :method => :delete}) do |form| -%>
      <%= image_submit_tag("silk/delete.png") %>
    <% end -%>
  </td>
</tr>
