<% if @page -%>
  <% if @page.new_record? -%>  

    <div id="admin_sub_nav">
        <div class="sn_left">
            You're creating a new page.
        </div>
        <div class="sn_right">
            <%= link_to('&larr; Return to the pages list', admin_pages_path) %>
        </div><br/>
    </div>

  <% else -%>

    <div id="admin_sub_nav">
      <div class="sn_left">
          This page is currently <% if @page.active? %><b>active</b> and can be <%= link_to('viewed on your site', page_path(@page)) %>.<% else -%>inactive and <b>cannot</b> be viewed on your site.<% end -%>
      </div>
      <div class="sn_right">
          <%= link_to('&larr; Return to the pages list', admin_pages_url) %>
      </div><br/>
    </div>

  <% end -%>
<% else -%>
    
    <% form_tag('/admin/pages/search', :id => 'page_search_form') do %>
    <div id="admin_sub_nav">
        <div class="sn_left">
            <%= link_to('<b>Create a new page</b>', new_admin_page_path) %> or search them:&nbsp;<%= text_field_tag('q', (params[:q] != '' ? params[:q] : ''), :id => 'sf') %>
        </div>
        <div class="sn_right">
            Be sure to link to these pages on your site!
        </div><br/>
    </div>
    <% end -%>
    
<% end -%>
