<% content_for(:head) do -%>
  <%= javascript_include_tag('admin/pages.js') %>
<% end -%>

<h1><%= t('admin.pages.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('admin.pages.index.created_at') %></th>
      <th><%= t('admin.pages.index.title_header') %></th>
      <th><%= t('admin.pages.index.excerpt') %></th>
      <th><%= t('admin.pages.index.link') %></th>
      <th><%= t('admin.pages.index.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% if @pages.empty? -%>
      <tr><td colspan="5"><%= t('admin.pages.index.no_pages') %></td></tr>
    <% else -%>
      <%= render :partial => 'page', :collection => @pages %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @pages.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@pages, :previous_label => t('plugins.will_paginate.previous_label'), :next_label => t('plugins.will_paginate.next_label') ) %>
        </td>  
      </tr>  
    <% end -%>  
  </tfoot>
</table>
