<h1>Editing page - <%= link_to(@page.title, page_path(@page.slug)) %></h1>

<%= semantic_form_for([:admin, @page]) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.buttons do -%>
    <%= form.commit_button("Save") -%>
  <% end -%>
<% end -%>
