<%= render :partial => 'subnav' %>

<div id="header">
	<h1>Editing comment</h1>
	<h2>Required fields in <b>bold</b>.</h2><br/>
	<% if flash[:notice] %><div class="green flash"><b>Success:</b> <%= flash[:notice] %></div><% end -%>
</div>

<table class="super" cellspacing="0" cellpadding="0">
	<tr>
		<td class="super_left" valign="top" class="no_pad">
      <% form_for([:admin, @comment]) do |form| -%>  
<table class="form" cellpadding="0" cellspacing="0">
<!--[form:post]-->

        <tr class="breaker"><td colspan="2">Commenter</td></tr>
        <tr><td class="labels"><label for="comment_author">Name</label></td><td class="fields">
          <%= form.text_field 'author', :size => '58', :class => 'normal_ic_width' %>
        </td></tr>
        <tr><td class="labels"><label for="comment_author_url">Indentity URL</label></td><td class="fields">
          <%= form.text_field 'author_url', :size => '58', :class => 'normal_ic_width' %>
        </td></tr>
        <tr><td class="labels"><label for="comment_author_openid_authority">Authority URL</label></td><td class="fields">
          <%= form.text_field 'author_openid_authority', :size => '58', :class => 'normal_ic_width' %>
        </td></tr>
        <tr><td class="labels"><label for="comment_author_email">Email</label></td><td class="fields">
          <%= form.text_field 'author_email', :size => '58', :class => 'normal_ic_width' %>
        </td></tr>
        <tr class="breaker"><td colspan="2">Content</td></tr>

        <tr><td class="labels"><label for="comment_body_raw"><b>Body</b></label></td><td class="fields">
        <%= form.text_area 'body', :rows => '22', :cols => '59', :wrap => 'virtual', :class => 'normal_i_width' %><br/><a href="http://lesstile.rubyforge.org">Lesstile enabled</a>
        </tr>
        <tr>
          <td colspan="2">
			  <div class="submit_area">
          <%= submit_tag 'Update this comment', :class => 'submit' %> or 
          <%= link_to 'cancel and return to comment list', admin_comments_path %>
        </div>
          </td>
        </tr>  
			<% end -%>
      </table>
    </td>
		<td class="super_right" valign="top">
			
			<div id="showing_prev" style="display: none;">
			    <table id="preview_tbl" cellpadding="0" cellspacing="0">
    				<tr class="breaker btop">
    				    <td class="t_left">Content preview</td>
    				    <td class="t_right"><span class="small gray"><a id="previewToggle_one" href="javascript://" onclick="togglePreview('showing_prev', 'hiding_prev');" class="create_bg">&larr; Hide preview</a></span></td>
    				</tr>
    				<tr><td colspan="2" class="nobo super_full"><div id="preview"><%= @preview %></div></td></tr>
    			</table>
			</div>
			<div id="hiding_prev">
			    <table id="show_preview" cellpadding="0" cellspacing="0">
    				<tr>
    					<td><span class="small"><a id="previewToggle_two" href="javascript://" onclick="togglePreview('showing_prev', 'hiding_prev');">Show content preview &rarr;</a></span></td>
    				</tr>
    			</table>
			</div>
			
		</td>
	</tr>
</table>
<br/>
