<%= render :partial => 'subnav' %>

<div id="header">
	<h1 class="skinny">Reader comments</h1>
	<% if flash[:notice] %><div class="green flash"><b>Success:</b> <%= flash[:notice] %></div><% end -%>
</div>

<table class="list" cellspacing="0" cellpadding="0">
	
	<tr>
		<th class="first_col">Created At</th>
		<th>Commenter</th>
		<th>Excerpt</th>
		<th class="small_col">Post</th>
		<th class="del_col">X</th>
	</tr>
	
	<% if @comments.empty? -%>
		<tr class="first_row"><td class="first_col" colspan="6"><span class="gray">There are no comments at this time.</span></td></tr>
	<% else -%>
		<% @comments.each_with_index do |comment, index| -%>
			<tr id="tca<%= comment.id %>" class="<%= cycle('', 'alt_row') %><%= (index == 1 ? ' first_row' : '') %>">
				<td class="first_col"><%= comment.created_at.strftime('%d %b, %Y') %></td>
				<td><%= link_to (h(comment.author), edit_admin_comment_path(comment)) %></td>
				<td><%=h truncate(comment.body, 40) %></td>
				<td class="small_col"><%= link_to(comment.post_title, edit_admin_post_path(comment.post))%></td>
				<td class="del_col"><%= link_to('X', admin_comment_path(comment), :method => :delete, :confirm => "You are about to delete this comment. This cannot be undone. Are you sure?") %></td>
			</tr>
		<% end -%>
	<% end -%>
	
</table>
<%= will_paginate(@comments) %>
