<% content_for(:head) do -%>
  <%= javascript_include_tag('jquery.form.js') %>
  <%= javascript_include_tag('admin/comments.js') %>
<% end -%>

<h1><%= t('admin.comments.index.title') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('admin.comments.index.created_at') %></th>
      <th><%= t('admin.comments.index.commenter') %></th>
      <th><%= t('admin.comments.index.excerpt') %></th>
      <th><%= t('admin.comments.index.post') %></th>
      <th><%= t('admin.comments.index.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% if @comments.empty? -%>
      <tr><td colspan="5"><%= t('admin.comments.index.no_comments') %></td></tr>
    <% else -%>
      <%= render :partial => 'comment', :collection => @comments %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @comments.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@comments, :previous_label => t('plugins.will_paginate.previous_label'), :next_label => t('plugins.will_paginate.next_label')) %>
        </td>  
      </tr>  
    <% end -%>
  </tfoot>
</table>
