<h1>Editing comment by <%=h @comment.author %></h1>

<% semantic_form_for([:admin, @comment]) do |form| -%>
  <% form.input_field_set do -%>
    <%= form.input :author %>
    <%= form.input :author_url %>
    <%= form.input :author_email %>
    <%= form.input :body, :hint => "<a href='http://lesstile.rubyforge.org'>Lesstile enabled</a>" %>
  <% end %>
  <% form.button_field_set do -%>
    <%= form.commit_button("save") %>
  <% end -%>
<% end -%>
