<% content_for(:head) do -%>
  <%= javascript_include_tag 'jquery.jfeed.js' %>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'admin/dashboard' %>
<% end -%>

<div id="summary">
<h1><%= link_to(h(config[:title]), '/') %></h1>
<p class="stats"><%= pluralize(@stats.post_count, 'post') %>, <%= pluralize(@stats.comment_count, 'comment') %>, <%= pluralize(@stats.tag_count, 'tag') %></p>
</div>

<div id="recent-posts" class="panel">
<h2>Latest Posts</h2>
<ul>
  <% @posts.each_with_index do |post, i| -%>
    <li class="<%= i == 0 ? 'first ' : '' %>item">
      <%= link_to("<h3>%s</h3>" % [h(truncate(post.title, :length => 50))], admin_post_path(post)) %>
      <span class='date'><%=h post.published_at.strftime("%b %e") %></span>
      <span class='count'><%= link_to(h(post.approved_comments.size), post_path(post)) %></span>
    </li>  
  <% end -%>
</ul>  
</div>

<div id="recent-comments" class="panel">
<h2>Latest Comments</h2>
<ul>
  <% @comment_activity.each_with_index do |activity, i| -%>
    <li class="<%= i == 0 ? 'first ' : '' %>item">
      <%= link_to("<h3>%s</h3>" % [h(truncate(activity.post.title, :length => 50))], post_path(activity.post)) %>
      <span class='date'><%=h activity.most_recent_comment.created_at.strftime("%b %e") %></span>
      <span class='count'><%=h activity.post.approved_comments.size %></span>
      <ul>
        <% activity.comments.each_with_index do |comment, index| -%>
          <% content_tag :li, :class => activity.comments.size == index + 1 ? 'last' : nil do -%>
            <%= link_to(h(comment.author), admin_comment_path(comment), {:id => "comment-link-#{comment.id}", :class => 'comment-link'}) -%>
          <% end -%>
        <% end -%>
      </ul>
      <% activity.comments.each do |comment| -%>
        <div class='comment-body' id='comment-body-<%= comment.id %>'>
          <div class='comment-actions'>
            <%= link_to(image_tag('silk/pencil.png', :alt => 'edit'), admin_comment_path(comment)) %>
            <% form_for(:comment, comment, :url => admin_comment_path(comment), :html => {:class => 'delete-item', :id => "delete-comment-#{comment.id}", :method => :delete}) do |form| -%>
              <%= image_submit_tag("silk/delete.png") %>
            <% end -%>
          </div>
          <%= comment.body_html %>
        </div>
      <% end -%>
    </li>
  <% end -%>
</ul>  
</div>

