<h1>Editing tag - <%= link_to(@tag.name, posts_path(:tag => @tag)) %></h1>

<%= semantic_form_for([:admin, @tag]) do |form| -%>
  <%= form.inputs do -%>
    <%= form.input :name %>
  <% end -%>
  <%= form.buttons do -%>
    <%= form.commit_button("save") -%>
  <% end -%>
<% end -%>
