<h1>Your tags</h1>

<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Posts Tagged</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @tags.empty? -%>
      <tr><td colspan="3">There are no tags at this time.</td></tr>
    <% else -%>
      <% @tags.each do |tag| -%>
        <tr class="<%= cycle('', 'alt') %>">
          <td><%= link_to(tag.name, edit_admin_tag_path(tag)) %></td>
          <td><%= tag.taggings.size %></td>
          <td>
            <%= link_to(image_tag('silk/pencil.png', :alt => 'edit'), edit_admin_tag_path(tag)) %>
            <%= link_to(image_tag("silk/delete.png"), admin_tag_path(tag), :method => :delete, :confirm => "You are about to delete this tag. It will be removed from all posts. This is permanent.\n\nAre you ABSOLUTELY sure?") %>
          </td>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @tags.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='3'>
          <%= will_paginate(@tags, :previous_label => '« newer', :next_label => 'older »') %>
        </td>
      </tr>
    <% end -%>
  </tfoot>
</table>
