<%  temp_repair = error_messages_for('post') || '' %>
<%= temp_repair.gsub('Body raw', 'Body').gsub('Extended raw', 'Extended') %>
<%
tag_list = ''
for tag in @tags
	tag_list += link_to(tag.name, 'javascript://', :id => 'tag_' + tag.name, :class => 'tag_tag', :onclick => 'tag_swap(document.forms[\'post_form\'].elements[\'tag_input\'], \'' + tag.name + '\')') + ' '
end
%>

<table class="form" cellpadding="0" cellspacing="0">
<!--[form:post]-->
<tr class="breaker btop"><td colspan="2">Content</td></tr>

<tr><td class="labels"><label for="post_title"><b>Title</b></label></td><td class="fields">
<%= text_field 'post', 'title', :size => '58', :class => 'normal_i_width' %></td></tr>

<tr><td><label for="post_body_raw"><b>Body</b></label></td><td>
<%= text_area 'post', 'body_raw', :rows => '28', :cols => '59', :wrap => 'virtual', :class => 'normal_i_width' %><br/><span id="markdown_syntax_link" class="small gray"<%= ' style="display: none;"' unless (params[:action] == 'post_new' and get_pref('TEXT_FILTER') == 'markdown') or (params[:action] != 'post_new' and @post.text_filter == 'markdown') %>><b>Markdown</b> syntax enabled. See the <%= link_to('syntax rules', 'http://daringfireball.net/projects/markdown/syntax', :title => 'Syntax rules', :target => '_blank') %> for help.</span>

<span id="textile_syntax_link" class="small gray"<%= ' style="display: none;"' unless (params[:action] == 'post_new' and get_pref('TEXT_FILTER') == 'textile') or (params[:action] != 'post_new' and @post.text_filter == 'textile') %>><b>Textile</b> syntax enabled. See the <%= link_to('syntax rules', 'http://www.textism.com/tools/textile/', :title => 'Syntax rules', :target => '_blank') %> for help.</span>

<span id="clb_syntax_link" class="small gray"<%= ' style="display: none;"' unless (params[:action] == 'post_new' and get_pref('TEXT_FILTER') == 'convert line breaks') or (params[:action] != 'post_new' and @post.text_filter == 'convert line breaks') %>><b>Convert line breaks</b> mode enabled.</span>

<span id="plaintext_syntax_link" class="small gray"<%= ' style="display: none;"' unless (params[:action] == 'post_new' and get_pref('TEXT_FILTER') == 'plain text') or (params[:action] != 'post_new' and @post.text_filter == 'plain text') %>><b>Plain text</b> mode enabled.</span></td></tr>

<tr><td><label for="tag_input">Tags</label></td><td>
<%= text_field_tag 'tag_input', @post.tag_names.join(' '), :size => '58', :class => 'normal_i_width', :id => 'tag_input', :onkeyup => 'highlight_tags(this)' %><br/>
<span class="small gray">Enter tags separated by a space or click existing tags below.</span></td></tr>

<tr class="breaker"><td colspan="2"><a class="section_toggler" href="javascript://" onclick="Element.toggle('et1');Element.toggle('et_i1');Element.toggle('et_i2');">Existing Tags&nbsp;&nbsp;<img id="et_i1" src="<%= Site.full_url %>/images/admin/arrow_right.gif" border="0" alt=""<% if get_pref('ALL_TAGS_BY_DEFAULT') == 'yes' %> style="display: none;"<% end %>/><img id="et_i2" src="<%= Site.full_url %>/images/admin/arrow_down.gif" border="0" alt=""<% if get_pref('ALL_TAGS_BY_DEFAULT') != 'yes' %> style="display: none;"<% end %>/></a></td></tr>

<tr id="et1"<% if get_pref('ALL_TAGS_BY_DEFAULT') != 'yes' %> style="display: none;"<% end %>><td><label for="tags_list_existing">All existing tags</label></td><td valign="top" class="wrap">
<%= tag_list %></span></td></tr>

<tr class="breaker"><td colspan="2"><a class="section_toggler" href="javascript://" onclick="Element.toggle('ex1');Element.toggle('ex2');<%= "Element.toggle('ex3');" if get_pref("CUSTOM_FIELD_1_ON") == "yes" %><%= "Element.toggle('ex4');" if get_pref("CUSTOM_FIELD_2_ON") == "yes" %><%= "Element.toggle('ex5');" if get_pref("CUSTOM_FIELD_3_ON") == "yes" %>Element.toggle('ex_i1');Element.toggle('ex_i2');">Extended Content&nbsp;&nbsp;<img id="ex_i1" src="<%= Site.full_url %>/images/admin/arrow_right.gif" border="0" alt=""/><img id="ex_i2" src="<%= Site.full_url %>/images/admin/arrow_down.gif" border="0" alt="" style="display: none;"/></a></td></tr>

<tr id="ex1" style="display: none;"><td><label for="post_extended_raw">Extended</label></td><td>
<%= text_area 'post', 'extended_raw', :rows => '20', :cols => '57', :wrap => 'virtual', :class => 'normal_i_width' %><br/><span class="small gray">Use this to optionally break large posts into two parts.</span></td></tr>

<tr id="ex2" style="display: none;"><td><label for="post_summary">Summary</label></td><td>
<%= text_area 'post', 'summary', :rows => '6', :cols => '57', :wrap => 'virtual', :class => 'normal_i_width' %><br/><span class="small gray">Describe this post.</span></td></tr>

<% if get_pref('CUSTOM_FIELD_1_ON') == 'yes' -%>
<tr id="ex3" style="display: none;"><td><label for="post_custom_field_1"><%= get_pref('CUSTOM_FIELD_1') %></label></td><td>
<%= text_field 'post', 'custom_field_1', :size => '58', :class => 'normal_i_width' %><br/>
<span class="small gray">Use this data in your views by yielding &lt;%= post.custom_field_1 %&gt;</span></td></tr>
<% end -%>

<% if get_pref('CUSTOM_FIELD_2_ON') == 'yes' -%>
<tr id="ex4" style="display: none;"><td><label for="post_custom_field_2"><%= get_pref('CUSTOM_FIELD_2') %></label></td><td>
<%= text_field 'post', 'custom_field_2', :size => '58', :class => 'normal_i_width' %><br/>
<span class="small gray">Use this data in your views by yielding &lt;%= post.custom_field_2 %&gt;</span></td></tr>
<% end -%>

<% if get_pref('CUSTOM_FIELD_3_ON') == 'yes' -%>
<tr id="ex5" style="display: none;"><td><label for="post_custom_field_3"><%= get_pref('CUSTOM_FIELD_3') %></label></td><td>
<%= text_field 'post', 'custom_field_3', :size => '58', :class => 'normal_i_width' %><br/>
<span class="small gray">Use this data in your views by yielding &lt;%= post.custom_field_3 %&gt;</span></td></tr>
<% end -%>

<% if get_pref('COMMENTING_ON') == 'yes' -%>
<% default_comment_setting = get_pref('COMMENT_DEFAULT') %>
<tr class="breaker"><td colspan="2"><a class="section_toggler" href="javascript://" onclick="Element.toggle('cs1');Element.toggle('cs2');Element.toggle('cs3');Element.toggle('cs_i1');Element.toggle('cs_i2');">Comment Settings&nbsp;&nbsp;<img id="cs_i1" src="<%= Site.full_url %>/images/admin/arrow_right.gif" border="0" alt=""/><img id="cs_i2" src="<%= Site.full_url %>/images/admin/arrow_down.gif" border="0" alt="" style="display: none;"/></a></td></tr>

<tr id="cs1" style="display: none;"><td><label for="post_comments"><b>Comment status</b></label></td><td>
<%= create_comment_select('post[comment_status]', {0 => 'Off', 1 => 'Open', 2 => 'Closed'}, (params[:action] == 'post_new' ? (default_comment_setting == 'yes' ? 1 : 0) : @post['comment_status'])) %></td></tr>

<tr id="cs2" style="display: none;"><td><label for="post_comments_help">Status key</label></td><td>
<span class="small gray"><b>Off</b>: comments will not be shown, new comments will not be accepted.<br/><b>Open</b>: comments will be shown and new comments will be accepted.<br/><b>Closed</b>: comments will be shown but no new comments will be accepted.</span></label></td></tr>

    <% if @post.comments.length > 0 -%>
    <tr id="cs3" style="display: none;"><td><label for="post_comments_link">Total comments</label></td><td>
    <%= @post.comments.length %> (<%= link_to 'View comment' + (@post.comments.length != 1 ? 's' : ''), Site.full_url + '/admin/comments/bypost/' + @post.id.to_s %>)</td></tr>
    <% end -%>
<% else -%>
    <% if @post.comment_status != 0 -%>
    <%= hidden_field 'post', 'comment_status' %>
    <% end %>
<% end -%>

<tr class="breaker"><td colspan="2"><a class="section_toggler" href="javascript://" onclick="Element.toggle('dt1');<% if @authors.length > 1 %>Element.toggle('dt2');<% end %>Element.toggle('dt3');<% unless params[:action] == 'post_new' %>Element.toggle('dt4');<% end %>Element.toggle('dt5');Element.toggle('dt6');Element.toggle('dt7');Element.toggle('dt_i1');Element.toggle('dt_i2');">Details&nbsp;&nbsp;<img id="dt_i1" src="<%= Site.full_url %>/images/admin/arrow_right.gif" border="0" alt=""/><img id="dt_i2" src="<%= Site.full_url %>/images/admin/arrow_down.gif" border="0" alt="" style="display: none;"/></a></td></tr>

<tr id="dt1" style="display: none;"><td><label for="post_is_active">Is active?</label></td><td>
<%= check_box 'post', 'is_active', :checked => (@post.is_active ? 'checked' : ''), :onchange => "setPingCheck(this, this.form.elements['ping'], '#{(get_pref('PING_BY_DEFAULT') == 'yes' ? '1' : '0')}');" %><label for="post_is_active" class="left">&nbsp;<span class="small gray">If the box is checked, the post appears on your site</span></label></td></tr>

<% if @authors.length < 2 %>
<%= hidden_field 'post', 'author_id', :value => @authors[0].id.to_s %>
<% else %>
<tr id="dt2" style="display: none;"><td><label for="post_author_id"><b>Author</b></label></td><td class="fields">
<%= select_tag 'post[author_id]', create_author_select_options(@authors, (@post.author_id == 0 ? get_author_id(request.cookies[SL_CONFIG[:USER_EMAIL_COOKIE]]) : @post.author_id), false) %></td></tr>
<% end %>

<tr id="dt3" style="display: none;"><td><label for="post_created_at"><b>Created at</b></label></td><td>
<% if params[:action] == 'post_new' %>
<%= select_year(Time.sl_local, :prefix => 'post', :field_name => 'created_at(1i)') %>
<%= select_month(Time.sl_local, :prefix => 'post', :field_name => 'created_at(2i)') %>
<%= select_day(Time.sl_local, :prefix => 'post', :field_name => 'created_at(3i)') %> &mdash; 
<%= select_hour(Time.sl_local, :prefix => 'post', :field_name => 'created_at(4i)') %> : 
<%= select_minute(Time.sl_local, :prefix => 'post', :field_name => 'created_at(5i)') %>
<% else %>
<%= select_year(@post.created_at, :prefix => 'post', :field_name => 'created_at(1i)') %>
<%= select_month(@post.created_at, :prefix => 'post', :field_name => 'created_at(2i)') %>
<%= select_day(@post.created_at, :prefix => 'post', :field_name => 'created_at(3i)') %> &mdash; 
<%= select_hour(@post.created_at, :prefix => 'post', :field_name => 'created_at(4i)') %> : 
<%= select_minute(@post.created_at, :prefix => 'post', :field_name => 'created_at(5i)') %>
<% end %><br/><span class="small gray">Set this to a future date to have the post not show up on your site until then.</span>
</td></tr>

<% unless params[:action] == 'post_new' -%>
<tr id="dt4" style="display: none;"><td><label for="post_modified_at"><b>Modified at</b></label></td><td>
<%= select_year(Time.sl_local, :prefix => 'post', :field_name => 'modified_at(1i)') %>
<%= select_month(Time.sl_local, :prefix => 'post', :field_name => 'modified_at(2i)') %>
<%= select_day(Time.sl_local, :prefix => 'post', :field_name => 'modified_at(3i)') %> &mdash; 
<%= select_hour(Time.sl_local, :prefix => 'post', :field_name => 'modified_at(4i)') %> : 
<%= select_minute(Time.sl_local, :prefix => 'post', :field_name => 'modified_at(5i)') %><br/><span class="small gray">This is automatically set to now, you may override it if you wish.</span>
</td></tr>
<% end -%>

<tr id="dt5" style="display: none;"><td><label for="post_text_filter"><b>Text filter</b></label></td><td>
<%= select_tag 'post[text_filter]', create_filter_select_options(['markdown', 'textile', 'convert line breaks', 'plain text'], (params[:action] == 'post_new' ? get_pref('TEXT_FILTER') : @post.text_filter)), :onchange => "if (this.options[this.selectedIndex].value == 'markdown') { Element.show('markdown_syntax_link');Element.hide('textile_syntax_link');Element.hide('clb_syntax_link');Element.hide('plaintext_syntax_link'); } else if (this.options[this.selectedIndex].value == 'textile') { Element.hide('markdown_syntax_link');Element.show('textile_syntax_link');Element.hide('clb_syntax_link');Element.hide('plaintext_syntax_link'); } else if (this.options[this.selectedIndex].value == 'convert line breaks') { Element.hide('markdown_syntax_link');Element.hide('textile_syntax_link');Element.show('clb_syntax_link');Element.hide('plaintext_syntax_link'); } else { Element.hide('markdown_syntax_link');Element.hide('textile_syntax_link');Element.hide('clb_syntax_link');Element.show('plaintext_syntax_link'); }" %><br/><span class="small gray">Override your default text filter if you wish.</span></td></tr>

<tr id="dt6" style="display: none;"><td><label for="post_permalink">Permalink</label></td><td>
<%= text_field 'post', 'permalink' %><br/><span class="small gray">Leave this blank to have it auto-generated.</span></td></tr>

<tr id="dt7" style="display: none;"><td><label for="ping">Send ping</label></td><td>

<input <%= ((get_pref('PING_BY_DEFAULT') == 'yes' and @post.is_active) ? 'checked="checked"' : '') %><%= (!@post.is_active ? 'disabled="disabled"' : '') %> id="ping" name="ping" type="checkbox" value="1" /><label for="ping" class="left">&nbsp;<span class="small gray">If the box is checked, we'll ping Ping-o-matic after posting</span></label></td></tr>

<!--[eoform:post]-->
</table>