<h1><%= t('admin.posts.show.title', :permalink => link_to(h(@post.title), post_path(@post)) ).html_safe %></h1>

<%= semantic_form_for([:admin, @post]) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.buttons do -%>
    <%= form.commit_button(t('admin.posts.form.save')) -%>
  <% end -%>  
<% end -%>
