<h2><%= link_to(post.title, post_path(post)) %></h2>
<div class="entrybody">
  <%=raw post.body_html %>
</div>
<div class="meta">
  <ul>
    <li class="date"><%= t 'pages.posts.posted_on', :date => format_post_date(post.published_at) %></li>
    <li class="comments"><%= link_to(translate('pages.posts.comments', :count => post.approved_comments.size), post_path(post, :anchor => 'comments')) %></li>
    <% unless post.tags.empty? -%>
    <li class="tags"><%= t('pages.posts.tagged', :tags_link => linked_tag_list(post.tags)).html_safe %></li>
    <% end -%>
  </ul>
</div>
