<h2><%= link_to_post(post) %></h2>

<div class="entry-body">
  <%= raw(post.body_html) %>
</div>
<div class="meta">
  <ul>
    <li class="date">Posted on <%= format_post_date(post.published_at) if post.published? %></li>
    <li class="comments"><%= link_to_post_comments post %></li>
    <% unless post.tags.empty? -%>
      <li class="tags">Tagged <%= linked_tag_list(post.tags) %></li>
    <% end -%>
  </ul>
</div>
