<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
  <li<%= cycle ' class="alt"', '' %> id="comment-{{ comment.id }}">
    <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  </li>
  <% end -%>
</ol>    
<h2>Post a comment</h2>
<div><%= @comment.errors.full_messages %></div>
<% form_for([@post, @comment]) do |form| -%>
  <%= form.text_field 'author' %>
  <%= form.text_area 'body' %>
  <%= submit_tag "Add Comment" %>
<% end -%>
