<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>
<% end -%>
<% content_for(:page_title) do -%>
<%= post_title(@post) -%>
<% end -%>
<%= render :partial => 'posts/post', :locals => {:post => @post} %>
<ol class="commentlist">
  <% @post.approved_comments.each do |comment| -%>
  <li<%=raw cycle(' class="alt"', '') %> id="comment-<%= comment.id %>">
    <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  </li>
  <% end -%>
</ol>    
<div class="related"><%= t('pages.posts.see_archive', :archives_link => link_to(t('pages.archives.title'), archives_path)).html_safe %></div>
<h2><%= t 'pages.posts.post_comment_title' %></h2>
  <% unless @comment.errors.empty? -%>
  <div class="errors">
    <h3><%= t 'pages.posts.comment_error_title' %></h3>
    <ul>
      <% @comment.errors.sort_by(&:first).each do |error| -%>
        <li><%= format_comment_error(error) %></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>
<%= form_for([@post, @comment]) do |form| -%>
  <div>
    <p><%= form.text_field 'author' %><label for="comment_author"><small><%= t "pages.posts.comment_name.html", :openid => 'http://openidexplained.com/' %></small></label></p>
    <p><%= form.text_area 'body' %><br /><small><%= t 'pages.posts.comment_lesstile.html', :lesstile => "http://lesstile.rubyforge.org" %></small></p>
    <p><%= submit_tag t 'pages.posts.comment_button' %></p>
  </div>
<% end -%>
