<html>
<head>
  <%= javascript_include_tag 'jquery-1.2.1.js' %>
  <%= javascript_include_tag 'jquery.form.js' %>
  <%= javascript_include_tag 'jquery.easing.1.3.js' %>
  <%= javascript_include_tag 'humanmsg' %>
  <%= javascript_include_tag 'admin/common' %>

  <%= stylesheet_link_tag 'formtastic' %>
  <%= stylesheet_link_tag 'humanmsg' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= yield(:head) %>

  <% if flash[:notice] -%>
  <script>
    jQuery(document).ready(function() {
      humanMsg.displayMsg('<%= escape_javascript(h(flash[:notice])) %>');
    })  
  </script>
  <% end -%>

</head>
<body>
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
    <div id="nav">
      <ul>
        <li><%= nav_link_to("Dashboard", admin_dashboard_path,  :accesskey => '1') %></li>
        <li><%= nav_link_to("Posts",     admin_posts_path,      :accesskey => '2') %> <%= nav_link_to("(+)", new_admin_post_path, :access_key => 'n') %></li>
        <li><%= nav_link_to("Pages",     admin_pages_path,      :accesskey => '3') %> <%= nav_link_to("(+)", new_admin_page_path, :access_key => 'p') %></li>
        <li><%= nav_link_to("Comments",  admin_comments_path,   :accesskey => '4') %></li>
        <li><%= nav_link_to("Tags",      admin_tags_path,       :accesskey => '5') %></li>
        <li><%= nav_link_to("Actions",   admin_undo_items_path, :accesskey => '6') %></li>
        <li><%= nav_link_to("API",       admin_api_path,        :accesskey => '7') %></li>
        <li class="separator">&nbsp;</li>
        <li><%= link_to("Logout", admin_session_path, :accesskey => 'l', :method => :delete) %></li>
        <li><%= link_to("View Site", '/',             :accesskey => 'v', :title => 'View Site') %></li>
      </ul>
    </div>
  </div>  
</body>
</html>
