<html>
<head>
  <%= stylesheet_link_tag 'admin_new' %>
  <%= javascript_include_tag 'jquery-1.2.1.js' %>
  <%= yield(:head) %>
</head>
<body>
  <%= yield %>
  <div id="nav">
    <ul>
      <li><%= link_to("Dashboard", admin_dashboard_path, :accesskey => '1') %></li>
      <li><%= link_to("Posts",     admin_posts_path,     :accesskey => '2') %></li>
      <li><%= link_to("Comments",  admin_comments_path,  :accesskey => '3') %></li>
      <li><%= link_to("Tags",      admin_tags_path,      :accesskey => '4') %></li>
      <li><%= link_to("Api",       admin_api_path,       :accesskey => '5') %></li>
      <li class="separator">&nbsp;</li>
      <li><%= link_to("Logout", admin_session_path, :accesskey => 'l', :method => :delete) %></li>
      <li><%= link_to("View Site", '/',             :accesskey => 'v', :title => 'View Site') %></li>
    </ul>
  </div>
  <div id="footer">
    <p>powered by <a href="http://www.enkiblog.com">Enki</a></p>
  </div>
</body>
</html>
