<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">

  <title><%= enki_config[:title] %> - <%= t 'pages.login.title' %></title>

  <%= stylesheet_link_tag 'login' %>
</head>
<body>
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
    <div id="nav">
      <ul>
        <li><%= link_to(t('pages.login.view_site'), '/', :title => t('pages.login.view_site')) %></li>
      </ul>
    </div>
  </div>
</body>
</html>
